.productGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
}

@media (min-width: 768px) {
  .productGrid {
    grid-template-columns: 1fr 1fr 1fr;
    height: auto;
  }
}
