.banner {
  width: 100%;
  height: 65vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.container {
  text-align: center;
  position: absolute;
  color: var(--primary-background);
  height: auto;
  top: calc(50% - 1.7rem);
  left: 20%;
  width: auto;
  overflow: auto;
  padding: 0.7rem;
}

.bannerHeader {
  font-size: 2rem;
  color: var(--primary-color);
}

.container {
  background: var(--button-color);
  background-image: linear-gradient(
    315deg,
    var(--button-color) 30%,
    #f5f7f6 70%
  );
}

.ctlText {
  font-family: "Shadows into Light", sans-serif;
  font-size: 2rem;
  color: var(--primary-background);
  font-weight: bold;
}

.ctlText:hover {
  color: var(--primary-component-color);
  cursor: pointer;
}

@media (max-width: 900px) {
  .container {
    height: auto;
    top: calc(50% - 1.7rem);
    width: 50%;
    left: 25%;
  }

  .bannerHeader h1 {
    font-size: 1.5rem;
  }

  .ctlText {
    font-size: 1.2rem;
  }
}
