.productGrid {
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 3rem;
  padding: 1rem;
  justify-items: center;
  min-height: 60vh;
}

.priceBox {
  grid-area: pricebox;
}

.options {
  grid-area: options;
  text-align: center;
  justify-self: center;
}

.productDetail {
  padding: 1rem;
  background: var(--secondary-background);
  color: var(--secondary-color);
  border-radius: 1rem;
  display: grid;
  grid-template-areas:
    "name name"
    "sku pricebox"
    "options options"
    "cartForm cartForm"
    "description description";
  grid-template-columns: 1fr 1fr;
  align-items: center;
  grid-template-rows: repeat(5, min-content);
}

@media (min-width: 900px) {
  .productGrid {
    grid-template-columns: 1fr 1fr;
  }

  .productDetail {
    width: 75%;
  }

  .options {
    text-align: left;
    justify-self: left;
  }
}

.name {
  grid-area: name;
  font-size: 1.5rem;
  font-weight: bolder;
  margin-bottom: 1rem;
}

.sku {
  grid-area: sku;
}

.name,
.sku,
.priceBox {
  text-align: center;
  padding: 1rem 0;
}

.addToCart {
  background: var(--primary-component-color);
  color: var(--secondary-color);
  height: 2rem;
  border-radius: 1rem;
  padding: 0 1.5rem;
  cursor: pointer;
}

.cartForm {
  grid-area: cartForm;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 4rem;
}

.productDescription {
  grid-area: description;
  padding: 1rem;
}

.productDescription ul {
  padding: 0 1rem;
}

.productDescription li {
  list-style-type: circle;
}
