@media (min-width: 768px) {
  .slider {
    width: 60%;
    margin: 0 2rem;
  }
}

.indicatorSelected {
  background: var(--primary-background);
}

.indicatorDefault {
  background: var(--secondary-background);
}

.indicatorDefault,
.indicatorSelected {
  width: 8px;
  height: 8px;
  display: inline-block;
  margin: 0 8px;
  cursor: pointer;
  border-radius: 50%;
}
